<?xml version='1.0' encoding='utf-8'?>
<widget id="io.cordova.Todo" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Todo</name>
    <description>
        Todo tasks.
    </description>
    <author email="ezequielmross@gmail.com" href="http://cordova.io">
        Ezequiel Mross Ferreira
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
