.fa {
    margin-right:20px;
    font-size:2em;    
}

.task {
    font-size:1.25em;
}

.fa-plus-circle{
    float:right;
    margin:0px;
}

.fa-plus-circle:hover {
    color: rgb(69, 110, 238);
}

.topcoat-list__header {
    height:26px;
}

.topcoat-list__item {
    background-color: #454646;   
    -ms-touch-action: none;
}
.topcoat-list__item:hover {
    border-left:1px solid blue;
}

.topcoat-list__container {
    background-color: rgb(69, 110, 238); 
}

.fa-heart {
    /*color:red;*/
}
